 body {
  background-color: #FFF1B5;
}
.container2{

  display: block;
  margin-left: 8%;
  margin-right: 8%;
  width: 50%;
}
.img_country{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
   padding:5px;
   border:10px solid #D0CBC9;
}
p.font_title {
  text-align: center;
  font-size: 30px;
}
p.font_desc{

  text-align: center;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.style_forum{

  font-size: 15px;
  margin-left: 12%;
  margin-right: 25%;
}
footer {
    height: 50px;
    background: #eee;
    text-align: center;
    vertical-align: center;
    font: bold 20px;
}

.container{
	width:1170px;
	margin:auto;
}



.navbar h1 {float:left;}
.navbar h1 span {color:beige;}

.navbar ul{
	list-style:none;
	padding-left:0;
	overflow:hidden;
	float:right;
	color:pink;
}

.navbar ul li{
	float:left;
	padding:10px;
	font-size:25px;
	color:pink;
}

.navbar ul li a{
	text-decoration:none;
	color:white;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.container3{
	height: 50vh;
	width: 86%;
	background-image: url("img pro/bg2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 5s;
	margin-left: 120px;
	margin-right:160px;


	animation-name: animate;
	animation-direction: alternate-reverse;
	animation-duration: 30s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out; 
}

@keyframes animate{
	0%{
		background-image: url("img pro/bg3.jpg");
	}20%{
		background-image: url("img pro/bg4.jpg");
	}40%{
		background-image: url("img pro/bg5.jpg");
	}60%{
		background-image: url("img pro/bg6.jpg");
	}80%{
		background-image: url("img pro/bg7.jpg");
	}100%{
		background-image: url("img pro/bg2.jpg");
	}
}