


.container{
	width:1170px;
	margin:auto;
}

.navbar{
	background-color:rgba(82, 190, 19, 1);
	color:white;
	overflow:hidden;
	text-transform:uppercase;
}

.navbar h1 {float:left;}
.navbar h1 span {color:beige;}

.navbar ul{
	list-style:none;
	padding-left:0;
	overflow:hidden;
	float:right;
}

.navbar ul li{
	float:left;
	padding:10px;
}

.navbar ul li a{
	text-decoration:none;
	color:white;
}

.container1 {
	width:1350px;
	text-align: center;
	color:white;
   position: relative;
   animation-name: company;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}
  


@keyframes company {
  0%   {background-color:rgba(82, 190, 19, 1)}
  25%  {background-color:rgba(19, 190, 93, 1)}
  50%  {background-color:rgba(19, 176, 190, 1)}
  75%  {background-color:rgba(19, 87, 190, 1)}
  100% {background-color:rgba(82, 190, 19, 1)}
}

